<div class="login-user">
    <form [formGroup]="loginUserForm" (ngSubmit)="onSubmit()">
        <div class="form-group" style="width: 250px">
            <label for="email" class="required">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email" placeholder="user@email.com">
        </div>
        <div style="width: 250px" *ngIf="loginUserForm.controls['email'].invalid  && (loginUserForm.controls['email'].dirty || loginUserForm.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="loginUserForm.controls['email'].errors.required">
                Email is required
            </div>
        </div>

        <div class="form-group" style="width: 250px">
            <label for="password" class="required">Password</label>
            <input type="text" class="form-control" id="password" formControlName="password" placeholder="******">
        </div>
        <div style="width: 250px" *ngIf="loginUserForm.controls['password'].invalid  && (loginUserForm.controls['password'].dirty || loginUserForm.controls['password'].touched)" class="alert alert-danger">
            <div *ngIf="loginUserForm.controls['password'].errors.required">
                Password is required
            </div>
        </div>

        <button class="btn btn-success" type="submit" [disabled]="loginUserForm.pristine || loginUserForm.invalid">Login</button>
        <button class="btn btn-default" [routerLink]="['/']">Cancel</button>
    </form>
</div>
