<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      
      <div style="column-count:3; justify-content: center; text-align: center; min-width: 500px; flex-wrap: wrap">
        <div *ngFor="let question of questions; let i=index">
          <app-question [question]="question" [form]="form"></app-question>
        </div>
      </div>  
  
      <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>